
<div class="about">
    <div class="pics">
        <img src="/assets/pics/wedding.jpg" class="img-rounded" alt="wedding" style="width:300px;height:300px;">
        <p>MMMMMEEEEEEE!</br>
            (oh! and that guy is my husband Bryan)</br>
            I couldn't breathe in that dress.</br>
            That smile is a smile of pain from the corset.</p>
        <p>This is a page all about me.</p>
        <p>I have no idea what to say yet because this is still a work in progress.</p>

    </div>
</div>


