<div class="familyDiv">
    <h1> My family</h1>
    <p>Because who can resist pictures of cute kids? ...That was rhetorical.</p>
    <div class="familycolumn">
        <div class="pics">
            <img src="/assets/pics/leonardo.jpg" class="img-rounded" alt="Leonardo" style="width:300px;height:200px;">
            <p>Leonardo Jame Michael-William Orion</br>
                (because why the hell not)</br>
                Age: 3</br>
            Favorite Color Green.</br>
            Likes: Pig Man & Sasquatch.</br>
            HATES taking pictures.</p>
        </div>
    </div>
    <div class="familycolumn">
        <div class="pics">
            <img src="/assets/pics/belle.jpg" class="img-rounded" alt="Belle" style="width:300px;height:200px;">
            <p>Belle Angelita Ann</br>
                Age: 2 1/2 </br>
            Favorite Color Sharpie.</br>
            Likes: Elsa, My little Pony and Dangerous Animals.</br>
            LOVES taking pictures.</p>
        </div>
    </div>
    <div class="familycolumn">
        <br class="pics">
            <img src="/assets/pics/verona.jpg" class="img-rounded" alt="Verona" style="width:300px;height:200px;">
            <p>Verona Flora Aurora</br>
                Age: 1 </br>
            Favorite Color Food.</br>
            Likes: Anything Edible and a lot of things that aren't.</p>
        </div>
    </div>
    <div class="familycolumn">
        <br class="pics">
        <img src="/assets/pics/smaug.jpg" class="img-rounded" alt="smaug" style="width:300px;height:200px;">
        <p>Smaug ChimneySweep</br>
        Age: 2 1/2 </br>
        Favorite Toy: His brother's tail.</br>
        Likes: Anything Edible and a lot of things that aren't.</br>
        Rescued from the farm.</p>
    </div>

    <div class="familycolumn">
        <br class="pics">
        <img src="/assets/pics/babykitty.jpg" class="img-rounded" alt="babykitty" style="width:250px;height:200px;">
        <p>Baby Kitty a.k.a Mercedes</br>
        Age: 1 1/2 </br>
        Favorite Toy: Paper Bags.</br>
        Likes: To eat out of the trash.</br>
        Rescued from a car lot.</p>
    </div>
</div>


