<div class="likeyDiv">

    <p>
        (•_•)</br>
        <) )╯</br>
        / \</br>
    </p>
    <p>
        (•_•)</br>
        <( (></br>
        ../ \</br>
    </p>

    <p> Dancing person beep boop beep boop!</p>
    <div class="likes">
        <div class="pics" >
            <img src="/assets/pics/cupcakes.jpg" class="img-circle" alt="cupcake" style="width:300px;height:300px;">
            <p>I LURV CUPCAKES!!!</br>
                Cupcakes taste good.</br>
                Cupcakes look good.</br>
                Cupcakes taste good.</br>
                Did I mention that I LOVE LOVE cupcakes.</p>
        </div>
    </div>

</div>
